.slides {
  width: 36rem;
  height: 23rem;
  display: flex;
  position: relative;
  overflow: hidden; /* alterado para 'hidden' para ocultar as barras de rolagem */
  scroll-snap-type: x mandatory;
}

.slides img {
  width: 100%;
  height: 100%;
  position: sticky;
  left: 0;
  flex-shrink: 0;
  object-fit: cover;
}