.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  font: 16px "Roboto", sans-serif;
  width: 40vw;
  gap: 10px;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

input,
textarea {
  display: flex;
  flex: 1;
  border-radius: 6px;
  border: 1px solid #888888;
  padding: 10px;
}

.button {
  display: flex;
  justify-content: end;
}

button {
  border: none;
  border-radius: 6px;
  padding: 10px;
  height: 3em;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  width: 10vw;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.filiais {
  margin-bottom: 20px;
}

.filial {
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.dados_filial {
  margin-left: 20px;
}

.dados_filial h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.dados_filial p {
  margin: 5px 0;
}

.dados_filial p:first-child {
  font-weight: bold;
}

.filial img {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}


