*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  padding: 20px;
  height: 100vh;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

#imagemTexto {
  display: flex;
  align-items: flex-start;
  gap: 2em;
}

img {
  height: 300px;
}